/* tuik v0.0 by github.com/sometgirldotonline */
:root {
  background-color: #fdfaf5;
  font-family: system-ui;
}
nav:first-child {
  border-bottom: 3px #474747 solid;
  width: 100vw;
  background-color: #fdfaf5;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 5px;
}
nav ul a[active] {
  font-weight: bold;
}
nav ul a:not([active]):hover {
  font-weight: bold;
}
nav ul:has(:hover) a[active] {
  font-weight: normal;
}
nav * {
  display: inline-block;
  margin: 0px;
}
nav ul {
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
body {
  margin-top: 50px;
}
blockquote {
  margin: 0px;
  padding: 10px;
  border-left: #000 3px solid;
}
code {
  background-color: #0000001e;
  padding: 10px;
}

p code {
  padding: 4px;
}
dl {
  padding: 10px;
  background-color: #0000001e;
  width: fit-content;
  min-width: 45%;
}
dl dt {
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
}
dl dd {
  margin-left: 10px;
}

input:not([type="file"], [type="range"]),
button {
  outline: none;
  background-color: #fdfaf5;
  border: 2px solid black;
}
button {
  padding: 3px;
  border-radius: 2px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #000000;
  border-radius: 0rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #000000;
  border-radius: 0rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #000000;
  border-radius: 0rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #000000;
  border: 2px solid #fdfaf5; /*Removes extra border that FF applies*/
  border-radius: 0rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline-offset: 0.125rem;
}

/* Adapted from https://moderncss.dev/pure-css-custom-checkbox-style/ */
label:has(input[type=checkbox]){
  &:before{
    content:"";
    width:15px;
    height:15px;
    border: 2px solid black;
    display: inline-block;
/*     position: relative;
    top: -11px; */
    vertical-align: top;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
}
input[type=checkbox]:checked:before{
  transform: scale(1);
}
input[type=checkbox]:before{
    content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
label input[type=checkbox]{
/*   display: none !important; */
    /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent !important;
  /* Not removed via appearance */
  margin: 0;
    font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: inline-grid;
  margin-left: -18px;
  margin-top: 2px;
  place-content: center;
}



/* back to nova's code */

input[type=radio] {
  appearance: none;
  width: 1em;
  height: 1em;
  border: 2px solid #fdfaf5;
  outline: 2px solid black;
}
input[type=radio]:checked{
    background: black;
}

aside {
  position:fixed !important;
  right: 0px;
  top:51px;
  width: 15vw;
  padding:10px;
  background: #fdfaf5 !important;
  text-align: right;
}
aside li{
  list-style: none;
}

body{
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  background: #fdfaf5 !important;
  padding: 10px;
}
html{
  background: #dfdcd8 !important;
}
dialog {
  position: fixed;
  top: 50vh;
  z-index: 5;
}
body:after{
  width: 100vw;
  height: 100vh;
  content: "";
  display: block;
  background: #0000001e;
  position: fixed;
  top:0px;
  left:0px;
}
body:has(dialog[open]){
  overflow: hidden;
}
textarea {
  background-color: #fdfaf5;
  appearance: none;
  outline: none;
  border:2px solid black;
}
select{
  background-color: #fdfaf5;
  outline: none;
  border:2px solid black;
}
table {
    border-collapse: collapse;
}
table td, table th {
  border: 2px solid #000;

}
table thead {
  background: #0000001e;
  }
table thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
table tfoot {
  font-weight: normal;
}


